body {
  background: #fdfdfd;
}
#cards {
}
.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 2px;
  width: 110%;
  height: 110%;
}
