<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Member Connect - Admin</title>
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/css/ghpages-materialize.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body class="container" ng-app="app" ng-controller="controller">
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo center">Member Connect - Admin</a>
			<ul class="right hide-on-med-and-down">
				<!-- <li><a href="#">Sass</a></li>
				<li><a href="#">Components</a></li>
				<li><a href="#">JavaScript</a></li> -->
			</ul>
			<form>
				<div class="input-field">
					<input ng-model="query" id="search" type="search" required>
					<label class="label-icon" for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</form>
		</div>
	</nav>
	<div class="container">
		<center ng-show="loading">
			<br />
			<div class="preloader-wrapper big active">
			 <div class="spinner-layer spinner-blue">
				 <div class="circle-clipper left">
					 <div class="circle"></div>
				 </div><div class="gap-patch">
					 <div class="circle"></div>
				 </div><div class="circle-clipper right">
					 <div class="circle"></div>
				 </div>
			 </div>
		 </div>
	 </center>
		<div class="row">
			<br>
			<div class="row z-depth-1 lighten-4">
				<div id="cards" class="col s12 cards-container">
					<div dir-paginate="e in data | filter:query | itemsPerPage: pageSize track by $index" current-page="currentPage" class="col m4">
						<div ng-class="{
								red: e.role.toLowerCase().includes('student') || e.role.toLowerCase().includes('undergrad'),
								'blue-grey': e.role.toLowerCase().includes('faculty') || e.role.toLowerCase().includes('staff'),
								purple: !(e.role.toLowerCase().includes('student') || e.role.toLowerCase().includes('undergrad') && e.role.toLowerCase().includes('faculty') || e.role.toLowerCase().includes('staff'))
							}" class="card darken-1">
							<div class="card-content white-text">
								<span class="card-title full-name">{{e.first_name + ' ' + e.last_name}}</span>
								<span class="card-subtitle">{{e.affiliation}}</span>
							</div>
							<div class="card-action center-align">
								<!-- <span ng-if="(e.interests.length)" style="cursor:pointer;" class="activator center-align"><i class="material-icons">navigation</i></span> -->
                <span data-first-name="{{e.first_name}}"
                  data-last-name="{{e.last_name}}"
                  data-affiliation="{{e.affiliation}}"
                  data-role="{{e.role}}"
                  data-email="{{e.email}}"
                  class="removeIcon" style="cursor:pointer;"><i class="material-icons">close</i></span>
                <span class="editIcon" style="cursor:pointer;"><i class="material-icons">mode_edit</i></span>
              </div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">{{e.first_name + ' ' + e.last_name}}<i class="material-icons right">close</i></span>
								<h6 ng-show="e.interests.length">Interests</h6>
								<p>{{e.interests}}</p>
								<!-- <ol class="interest-list">
									<li class="interest-item" ng-repeat="e in e.interests track by $index | fuzzy: search">{{e}}</li>
								</ol> -->
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>
		<center ng-controller="queryController">
			<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/dirPagination.tpl.html"></dir-pagination-controls>
		</center>
	</div>
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Digital Arts and Humanities</h5>
					<p class="grey-text text-lighten-4">College of Arts and Humanities at the University of Hawaiʿi at Mānoa</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<!-- <h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
					</ul> -->
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2014 Copyright Text
			</div>
		</div>
	</footer>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/angular.min.js"></script>
	<script src="/js/angular-filter.js"></script>
	<script src="/js/dirPagination.js"></script>
	<script src="/js/app.js"></script>
  <script type="text/javascript">
    setTimeout(function() {
      $('.removeIcon').click(function() {
        let obj = {};
        console.log($(this));
        // extract data-* elements using jquery and submit a deleteRequest
        // deleteRequest(obj);
      });
    }, 1000);
    function deleteRequest(obj) {
      $.ajax({
        url: 'http://dahi.manoa.hawaii.edu/njs/edit' + '?' + $.param({
          first_name: obj['first_name'],
          last_name: obj['last_name'],
          affiliation: obj['affiliation'],
          role: obj['role'],
          email: obj['email']
        }),
        type: 'DELETE',
        success: function(result) {
            // Do something with the result
            // Delete the card

        }
      });
    }
    function editRequest(obj) {
      $.ajax({
        url: 'http://dahi.manoa.hawaii.edu/njs/edit',
        type: 'PUT',
        success: function (result) {
          // Edit the card
        }
      })
    }
  </script>
</body>
</html>
